<div class="top row" style="background: url('/images/top/carlo_big.png') center center no-repeat #000000;">
    <div class="row" style="width: 96%">
        <div class="col-xs-11 masters">
            <a href="#" class="author emerge" data-img="/images/top/carlo_big.png">Back to Author</a>
            <a href="#" class="map emerge" data-img="/images/top/carlo_map.png">see the map</a>
        </div>
        <div class="col-xs-1">

        </div>
    </div>
    <div class="head-wrapper">
        <h1>Carlo Mirarchi</h1>
        <h3>Chef at Roberta's and Blanca<br/>Brooklyn, USA</h3>
    </div>
</div>
<div class="container">
    <div class="row restaurant-carousel">
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="slider multiple-items col-md-8 col-xs-12 col-sm-12">
            <!--<div>
                <h2>&nbsp;</h2>
                <p><b>The city of lights opened my eyes to many possibilities in the world of art, design, and architecture. Paris is really a second home for me after London. I am easily in Paris at least six times a year, traveling back and forth on Eurostar.</b></p>
            </div>-->
            <div>
                <h2>Le Chateaubriand</h2>
                <h4>129 Avenue Parmentier 75011 Paris</h4>
                <p>What do I like about it? Everything ! The food, the spirit, the wine. Last time I was in Paris had a great night with Inaki (Aizpitarte Chateaubriands’ chef)…though frankly the details are a bit fuzzy.</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='130'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>Bones</h2>
                <h4>43 Rue Godefroy Cavaignac, 75011 Paris</h4>
                <p>I had an awesome meal here. The homemade charcuterie is wow! And their sommelier is incredible. The day after I ate here, we all went to a wine tasting at Le Dauphin. Bone’s sommelier danced on the bar and broke his arm ! Nonetheless, in the chaos I mentioned that I would like to cook with James Henry and he texts him straight away to set up a 4 hands dinner.  That’s commitment!</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='92'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>Les Provinces (butcher shop)</h2>
                <h4>20 Rue d’Allergie, 75012</h4>
                <p>Last time I was in Paris, I had the chance to cook with Giovanni Passerini in his restaurant Rino (now closed). He took me here, to his butcher, where we ordered the lamb and also had a very good and juicy steak.</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='24'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>L’Arpège</h2>
                <h4>84 Rue de Varenne, 75007 Paris</h4>
                <p>I was with a good friend who is a baker and we decided to do it up for lunch. I remember beautiful sweetbreads and very interesting wines by the glass. We ended around 5pm with Alain Passard sitting down at the table…now that’s a man with stature.</p>
                <p>Funny fact: they give you the knife you eat with   during your meal. I put it in my shoe to be sure not to lose it in my travels. Three months later, I was putting on the shoes for a wedding and stepped on the knife!</p>
            </div>
            <div>
                <h2>La Boucherie Hayée</h2>
                <h4>Place d'Aligre Marché Beauvau 75012 Paris</h4>
                <p>I found a wonderful rôtisserie in Le Marché d’Aligre and had roasted pig that I ate with my fingers on a garbage can. It was so cool.</p>
            </div>
            <div>
                <h2>Le Baron Rouge</h2>
                <h4>1 Rue Théophile Roussel, 75012 Paris</h4>
                <p>Continuing my journey in Le Marché D’Aligre, I had oysters at this wine bar where you drink in the street on an old wood barrel. Great wines.</p>
            </div>
            <div>
                <h2>Bistrot Paul Bert</h2>
                <h4>18 Rue Paul Bert, 75011 Paris</h4>
                <p>Giovanni Passerini took me to this very French bistrot with a big bellied owner and we had wonderful snails. Unforgettable.</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='91'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>Epicure, Le Bristol</h2>
                <h4>112 Rue du Faubourg Saint-Honoré, 75008 Paris</h4>
                <p>Surely I can dress up IF it’s for a good cause! Excellent French food here, of course.</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='238'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>Dirty Dick</h2>
                <h4>10 Rue Frochot, 75009 Paris</h4>
                <p>What a name!!! Go have some dive bar fun in Pigalle and your pre-game Tiki cocktails here.</p>
            </div>
            <div>
                <h2>Es</h2>
                <h4>91 rue de Grenelle, 75007 Paris</h4>
                <p>I went there for the opening and really want to go back now. It has a very art gallery feeling which is cool and Franco-Japanese punch.</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='214'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
    </div>
</div>

<script src="/javascripts/slick.min.js"></script>
<link rel='stylesheet' href='/stylesheets/slick.css' />
<script src="/javascripts/custom/favourites.js"></script>
<script src="/javascripts/custom/image-tougle.js"></script>
<script type="text/javascript">
    $('.multiple-items').slick({
        dots: true,
        infinite: false,
        slidesToShow: 1,
        slidesToScroll: 1
    });
</script>