<div class="top row" style="background: url('/images/top/gregory.png') center center no-repeat #000;">
    <div class="row" style="width: 96%">
        <div class="col-xs-11 masters">
            <a href="#" class="author emerge" data-img="/images/top/gregory.png">Back to Author</a>
            <a href="#" class="map emerge" data-img="/images/top/gregory_map.png">see the map</a>
        </div>
        <div class="col-xs-1">

        </div>
    </div>
    <div class="head-wrapper">
        <h1>Gregory Marchand</h1>
        <h3>Cheaf ate Frenchie<br/>Paris, France</h3>
    </div>
</div>
<div class="container">
    <div class="row restaurant-carousel">
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="slider multiple-items col-md-8 col-xs-12 col-sm-12">
            <!--<div>
                <h2>&nbsp;</h2>
                <p><b>Ahh, a beautiful hand drawn map of Paris.  Where to begin ?  Let’s begin with a finger print on the 2ème arrondisement where Frenchie was born…</b></p>
            </div>-->
            <div>
                <h2>1. Frenchie/Rue du Nil</h2>
                <p>We are setting up an association with all of the merchants on our street, Rue du Nil, where Frenchie is located. We all share the same philosophy: eat and sell quality products sourced from responsible suppliers. We plan to organize block parties, decorate the street at Christmas, and perhaps less glamorous- collective garbage pick up.</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='114'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>2. Les Deux Amis</h2>
                <p>Ooh la la… what a hang-over from last night ! Hard to stop drinking here…all the wines are so good! </p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='18'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>3. Ten Belles</h2>
                <p>First thing in the morning, I like to drink a Capuccino here. Then, I move to plenty of espresso. I try to stop drinking coffee around 1pm so I can take a nap before the night shift begins.</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='88'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>4. Du pain et des idées</h2>
                <p>We get our bread here for the restaurant. When it’s my turn to pick up (as the baker won’t deliver the bread), i like to grab a chausson aux pommes or an escargot. They’re too good to be true.</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='145'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>5. L’Ambroisie</h2>
                <p>It was a December 26th, and Marie and I were in front of Sacre-Coueur enjoying the incredible view of Paris. It was snowing heavily and we were practically alone, only a Japanese couple taking pictures in the distance. I knelt in the snow, and asked for her hand... Then we went to eat at L’Ambroisie, one of the best three Michelin starred restaurant in Paris!</p>
            </div>
            <div>
                <h2>6. Marché Président Wilson, 16<sup>ème</sup></h2>
                <p>This market is well known for the vegetables of Joel Thiebault. I go there sometimes to get away from rue du Nil and soak up all of the fresh delights.</p>
            </div>
            <div>
                <h2>7. Lockwood</h2>
                <p>I really like the Negroni and all of their bitter cocktails in general. Romain, the bartender at Lockwood, knows my tastes. Each time I go there, I’m his guinea pig, trying a new recipe. I love it !</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='98'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>8. L'Astrance</h2>
                <p>I normally go here once or twice a year. I love everything. The service is great. And also the food, of course!</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='62'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>9. Le Coq Rico</h2>
                <p>Le Coq Rico, Marie and I love going here with the kids on Sunday to have a proper roast chicken.</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='58'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>10. Jardin des Tuileries</h2>
                <p>As long as the weather is good, we like to picnic in the Tuileries Garden with our friends. Everyone brings a little something. I usually bring a terrine from the fridge of the restaurant and always some good, cold beer in a cooler bag. My favorite? La Perle !</p>
            </div>
            <div>
                <h2>11. Shopping in the 6<sup>ème</sup></h2>
                <p>Sometimes I disappear from the house and come back with tons of bags. which amuses my wife… Usually I make my way through the 6 ème  and the Marais. I like APC, Acne, Paul Smith and NDC for their shoes. Oh, and also Merci for their clothes and dishes!</p>
            </div>
            <div>
                <h2>12. Encore</h2>
                <p>The boss, Franck, is a good friend of mine. We tend to sit and the bar and chat while I’m eating. It’s even better now with their new chef.</p>
            </div>
            <div>
                <h2>13. Le cirque d’hiver</h2>
                <p>We brought the kids to le Cirque d’hiver (winter circus). Everyone loved it !</p>
            </div>
            <div>
                <h2>14. Le Dauphin</h2>
                <p>I like this place because they cook exactly as I like to eat. A lot of little dishes like my wine bar. And I really like Franck (the head waiter).</p>
                {{#if session.user}}
                    <a class='add-restaurant' data-id='131'>Add to your list</a>
                {{else}}
                    <a href='#' class='login-modal'>Add to your list</a>
                {{/if}}
            </div>
            <div>
                <h2>14. Direction Trouville</h2>
                <p>Sometimes, on Sundays,  we run away from Paris with the kids, go to see the ocean, eat at Les Vapeurs, and then head back home relaxed and revived.</p>
            </div>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
    </div>
</div>

<script src="/javascripts/slick.min.js"></script>
<link rel='stylesheet' href='/stylesheets/slick.css' />
<script src="/javascripts/custom/favourites.js"></script>
<script src="/javascripts/custom/image-tougle.js"></script>
<script type="text/javascript">
    $('.multiple-items').slick({
        dots: true,
        infinite: false,
        slidesToShow: 1,
        slidesToScroll: 1
    });
</script>