<link rel='stylesheet' href='/stylesheets/gmaps.css' />
<link rel='stylesheet' href='/stylesheets/magicsuggest.css' />

<h1>Add new restaurant</h1>

<div class="row">
    <div class="col-lg-4">
        <form id="register" action="/restaurants/add" method="post" role="form">
            <div class="form-group {{#if errors.name}}has-error error{{/if}}">
                <label for="name" class="control-label">Name: </label>
                <input type="text" id="name" name="restaurant[name]" class="form-control"/>
                {{#if errors.name}}<code>{{errors.name.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.address}}has-error error{{/if}}">
                <label for="address" class="control-label">Address: </label>
                <input type="text" id="address" name="restaurant[address]" class="form-control"/>
                {{#if errors.name}}<code>{{errors.address.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.phone}}has-error error{{/if}}">
                <label for="phone" class="control-label">Phone: </label>
                <input type="text" id="phone" name="restaurant[phone]" class="form-control"/>
                {{#if errors.phone}}<code>{{errors.phone.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.website}}has-error error{{/if}}">
                <label for="website" class="control-label">Website: </label>
                <input type="text" id="website" name="restaurant[website]" class="form-control"/>
                {{#if errors.website}}<code>{{errors.website.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.metro}}has-error error{{/if}}">
                <label for="metro" class="control-label">Metro: </label>
                <input type="text" id="metro" name="restaurant[metro]" class="form-control"/>
                {{#if errors.metro}}<code>{{errors.metro.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.opening_hours_en}}has-error error{{/if}}">
                <label for="opening_hours_en" class="control-label">Opening Hours Eng: </label>
                <input type="text" id="opening_hours_en" name="restaurant[opening_hours_en]" class="form-control"/>
                {{#if errors.opening_hours_en}}<code>{{errors.opening_hours_en.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.opening_hours_fr}}has-error error{{/if}}">
                <label for="opening_hours_fr" class="control-label">Opening Hours Fra: </label>
                <input type="text" id="opening_hours_fr" name="restaurant[opening_hours_fr]" class="form-control"/>
                {{#if errors.opening_hours_fr}}<code>{{errors.opening_hours_fr.[0]}}</code>{{/if}}
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="restaurant[booking]"> Booking
                </label>
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="restaurant[price_level]" id="inlineRadio1" value="1"> S
                </label>
                <label class="radio-inline">
                    <input type="radio" name="restaurant[price_level]" id="inlineRadio2" value="2"> M
                </label>
                <label class="radio-inline">
                    <input type="radio" name="restaurant[price_level]" id="inlineRadio3" value="3"> L
                </label>
                <label class="radio-inline">
                    <input type="radio" name="restaurant[price_level]" id="inlineRadio4" value="4"> XL
                </label>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Descriptions</div>
                <div class="panel-body">
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal" id="add-desc">
                        <span class="glyphicon glyphicon-plus"></span> Add Description
                    </a>
                </div>
            </div>

            <div class="form-group">
                <label for="tags">Places: </label>
                <div id="places">
                    <input type="text" id="places" name="places" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="tags">Tags: </label>
                <div id="magicsuggest">
                    <input type="text" id="tags" name="tags" class="form-control"/>
                </div>
            </div>
            <!--<div class="input_fields_wrap">
                <a href="#" class="add_field_button">Add More Fields</a>
                <div><input type="text" name="mytext[]"></div>
            </div>-->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{#if errors.longitude}}has-error error{{/if}}">
                        <label for="longitude" class="control-label">Longitude: </label>
                        <input type="text" id="longitude" name="restaurant[longitude]" class="form-control"/>
                        {{#if errors.longitude}}<code>{{errors.longitude.[0]}}</code>{{/if}}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group {{#if errors.latitude}}has-error error{{/if}}">
                        <label for="latitude" class="control-label">Latitude: </label>
                        <input type="text" id="latitude" name="restaurant[latitude]" class="form-control"/>
                        {{#if errors.latitude}}<code>{{errors.latitude.[0]}}</code>{{/if}}
                    </div>
                </div>
            </div>
            <button class="btn btn-default">Save</button>
        </form>
    </div>

    <div class="col-lg-8" id="map-wrapper">
        <input id="pac-input" class="controls" type="text"
               placeholder="Enter a location">
        <div id="type-selector" class="controls">
            <input type="radio" name="type" id="changetype-all" checked="checked">
            <label for="changetype-all">All</label>

            <input type="radio" name="type" id="changetype-establishment">
            <label for="changetype-establishment">Establishments</label>

            <input type="radio" name="type" id="changetype-geocode">
            <label for="changetype-geocode">Geocodes</label>
        </div>
        <div id="map-canvas"></div>
    </div>

    {{> desc_modal}}

</div>

