<link rel='stylesheet' href='/stylesheets/gmaps.css' />
<link rel='stylesheet' href='/stylesheets/magicsuggest.css' />

<h1>Add new restaurant</h1>

<div class="row">
    <div class="col-lg-4">
        <form id="register" action="/restaurants/add" method="post" role="form">
            <div class="form-group {{#if errors.name}}has-error error{{/if}}">
                <label for="name" class="control-label">Name: </label>
                <input type="text" id="name" name="restaurant[name]" class="form-control"/>
                {{#if errors.name}}<code>{{errors.name.[0]}}</code>{{/if}}
            </div>
            <!--<div class="input_fields_wrap">
                <a href="#" class="add_field_button">Add More Fields</a>
                <div><input type="text" name="mytext[]"></div>
            </div>-->
            <div class="form-group {{#if errors.address}}has-error error{{/if}}">
                <label for="address" class="control-label">Address: </label>
                <input type="text" id="address" name="restaurant[address]" class="form-control"/>
                {{#if errors.name}}<code>{{errors.address.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.phone}}has-error error{{/if}}">
                <label for="phone" class="control-label">Phone: </label>
                <input type="text" id="phone" name="restaurant[phone]" class="form-control"/>
                {{#if errors.phone}}<code>{{errors.phone.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.website}}has-error error{{/if}}">
                <label for="website" class="control-label">Website: </label>
                <input type="text" id="website" name="restaurant[website]" class="form-control"/>
                {{#if errors.website}}<code>{{errors.website.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.metro}}has-error error{{/if}}">
                <label for="metro" class="control-label">Metro: </label>
                <input type="text" id="metro" name="restaurant[metro]" class="form-control"/>
                {{#if errors.metro}}<code>{{errors.metro.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.opening_hours_en}}has-error error{{/if}}">
                <label for="opening_hours_en" class="control-label">Opening Hours Eng: </label>
                <input type="text" id="opening_hours_en" name="restaurant[opening_hours_en]" class="form-control"/>
                {{#if errors.opening_hours_en}}<code>{{errors.opening_hours_en.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.opening_hours_fr}}has-error error{{/if}}">
                <label for="opening_hours_fr" class="control-label">Opening Hours Fra: </label>
                <input type="text" id="opening_hours_fr" name="restaurant[opening_hours_fr]" class="form-control"/>
                {{#if errors.opening_hours_fr}}<code>{{errors.opening_hours_fr.[0]}}</code>{{/if}}
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="restaurant[booking]"> Booking
                </label>
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="restaurant[price_level]" id="inlineRadio1" value="1"> S
                </label>
                <label class="radio-inline">
                    <input type="radio" name="restaurant[price_level]" id="inlineRadio2" value="2"> M
                </label>
                <label class="radio-inline">
                    <input type="radio" name="restaurant[price_level]" id="inlineRadio3" value="3"> L
                </label>
                <label class="radio-inline">
                    <input type="radio" name="restaurant[price_level]" id="inlineRadio4" value="4"> XL
                </label>
            </div>
            <div class="form-group {{#if errors.know_en}}has-error error{{/if}}">
                <label for="know_en" class="control-label">Know Eng: </label>
                <textarea rows="4" cols="50" id="know_en" name="restaurant[know_en]" class="form-control"></textarea>
                {{#if errors.know_en}}<code>{{errors.know_en.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.know_fr}}has-error error{{/if}}">
                <label for="know_fr" class="control-label">Know Fra: </label>
                <textarea rows="4" cols="50" id="know_fr" name="restaurant[know_fr]" class="form-control"></textarea>
                {{#if errors.know_fr}}<code>{{errors.know_fr.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.eat_en}}has-error error{{/if}}">
                <label for="eat_en" class="control-label">Eat Eng: </label>
                <textarea rows="4" cols="50" id="eat_en" name="restaurant[eat_en]" class="form-control"></textarea>
                {{#if errors.eat_en}}<code>{{errors.eat_en.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.eat_fr}}has-error error{{/if}}">
                <label for="eat_fr" class="control-label">Eat Fra: </label>
                <textarea rows="4" cols="50" id="eat_fr" name="restaurant[eat_fr]" class="form-control"></textarea>
                {{#if errors.eat_fr}}<code>{{errors.eat_fr.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.drink_en}}has-error error{{/if}}">
                <label for="drink_en" class="control-label">Drink Eng: </label>
                <textarea rows="4" cols="50" id="drink_en" name="restaurant[drink_en]" class="form-control"></textarea>
                {{#if errors.drink_en}}<code>{{errors.drink_en.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.drink_fr}}has-error error{{/if}}">
                <label for="drink_fr" class="control-label">Drink Fra: </label>
                <textarea rows="4" cols="50" id="drink_fr" name="restaurant[drink_fr]" class="form-control"></textarea>
                {{#if errors.drink_fr}}<code>{{errors.drink_fr.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.tip_en}}has-error error{{/if}}">
                <label for="know_en" class="control-label">Tip Eng: </label>
                <textarea rows="4" cols="50" id="tip_en" name="restaurant[tip_en]" class="form-control"></textarea>
                {{#if errors.tip_en}}<code>{{errors.tip_en.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.tip_fr}}has-error error{{/if}}">
                <label for="tip_fr" class="control-label">Tip Fra: </label>
                <textarea rows="4" cols="50" id="tip_fr" name="restaurant[tip_fr]" class="form-control"></textarea>
                {{#if errors.tip_fr}}<code>{{errors.tip_fr.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.gossip_en}}has-error error{{/if}}">
                <label for="gossip_en" class="control-label">Gossip Eng: </label>
                <textarea rows="4" cols="50" id="gossip_en" name="restaurant[gossip_en]" class="form-control"></textarea>
                {{#if errors.gossip_en}}<code>{{errors.gossip_en.[0]}}</code>{{/if}}
            </div>
            <div class="form-group {{#if errors.gossip_fr}}has-error error{{/if}}">
                <label for="gossip_fr" class="control-label">Gossip Fra: </label>
                <textarea rows="4" cols="50" id="gossip_fr" name="restaurant[gossip_fr]" class="form-control"></textarea>
                {{#if errors.gossip_fr}}<code>{{errors.gossip_fr.[0]}}</code>{{/if}}
            </div>
            <div class="form-group">
                <label for="tags">Tags: </label>
                <div id="magicsuggest">
                    <input type="text" id="tags" name="tags" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group {{#if errors.longitude}}has-error error{{/if}}">
                        <label for="longitude" class="control-label">Longitude: </label>
                        <input type="text" id="longitude" name="restaurant[longitude]" class="form-control"/>
                        {{#if errors.longitude}}<code>{{errors.longitude.[0]}}</code>{{/if}}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group {{#if errors.latitude}}has-error error{{/if}}">
                        <label for="latitude" class="control-label">Latitude: </label>
                        <input type="text" id="latitude" name="restaurant[latitude]" class="form-control"/>
                        {{#if errors.latitude}}<code>{{errors.latitude.[0]}}</code>{{/if}}
                    </div>
                </div>
            </div>
            <button class="btn btn-default">Save</button>
        </form>
    </div>

    <div class="col-lg-8" id="map-wrapper">
        <input id="pac-input" class="controls" type="text"
               placeholder="Enter a location">
        <div id="type-selector" class="controls">
            <input type="radio" name="type" id="changetype-all" checked="checked">
            <label for="changetype-all">All</label>

            <input type="radio" name="type" id="changetype-establishment">
            <label for="changetype-establishment">Establishments</label>

            <input type="radio" name="type" id="changetype-geocode">
            <label for="changetype-geocode">Geocodes</label>
        </div>
        <div id="map-canvas"></div>
    </div>

</div>

