<h1>{{restaurant.title_en}}</h1>

<div class="row">
    <div class="col-lg-5">
        <p><strong>Name: </strong>{{restaurant.name}}</p>
        <p><strong>Address: </strong>{{restaurant.address}}</p>
        <p><strong>Phone: </strong>{{restaurant.phone}}</p>
        <p><strong>Website: </strong>{{restaurant.website}}</p>
        <p><strong>Metro: </strong>{{restaurant.metro}}</p>
        <p><strong>Opening Hours: </strong>{{restaurant.opening_hours_en}}</p>
        <p><strong>Opening Hours Time Slots: </strong><span class="hours-wrapper">{{restaurant.opening_hours_frames}}</span></p>
        <p><strong>Cuisine: </strong>{{restaurant.kind_of_food_en}}</p>
        <p><strong>Feeling: </strong>{{restaurant.feeling_en}}</p>
        <p><strong>Go For: </strong>{{restaurant.go_for}}</p>
        <p><strong>Booking: </strong>{{restaurant.booking_en}}</p>
        <p><strong>Price Level: </strong>{{restaurant.price_level}}</p>
        <h3>Descriptions:</h3>
        {{#each restaurant.descriptions}}
            <p><strong>{{title}}: </strong>{{{desc_en}}}</p>
        {{/each}}
        <h3>Places: </h3>
        {{#each restaurant.places}}
            <p>{{type}} - <strong>{{name}}: </strong>{{address}}</p>
        {{/each}}

    </div>
</div>

